table{
    border-collapse:collapse;
    align-items: center;
    max-width: 600px;
}
td{
    box-sizing: border-box;
}
p{
    margin: 0;
}
.wrapper{
    max-width: 602px;
    align-items: center;
}
.header{
    margin-bottom: 13px;
}
.header tr td{
    margin-left: 31px;
    margin-right: 31px;
}
.right{
    text-align: right;
}
.logo{
    max-width: 220px;
}
.phone{
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 1.5em;
    color: #25252c;
    font-weight: bold;
    font-family: "Arial";
}
.phone img{
    margin-right: 8px;
}
.kontakts{
    font-size: 13px;
    line-height: 1,3em;
    color: #9999a6;
    font-style: italic;
    font-family: "Arial";
}
.promo-integraciya{
    max-width: 600px;
    align-items: center;
}
.info-table{
    margin-bottom: 37px;
}
.info{  
    font-size: 14px;
    line-height: 1.7em;
    color: #666666;
    font-family: "Arial";
}
.info h1{
    font-size: 24px;
    line-height: 24px;
    color: #24242b;
    font-weight: bold;
    font-family: "Arial";
}
.info p{
    margin-bottom: 21px;
}
.detaljnishe{
    border: none;
    border-radius: 20px;
    background-color: #fd8300;
    font-size: 14px;
    line-height: 1.7em;
    color: #ffffff;
    font-weight: bold;
    font-family: "Arial";
    padding: 9px 21px;
    cursor: pointer;
}
.perevagy{
    background-color: #ededf5;  
    margin-bottom: 25px;
}
.perevagy-kartochki td{
    padding: 37px 20px 30px 20px;
    text-align: center;
}
.perevagy-kartochki p{
    white-space: nowrap;
    max-height: 31px;
    font-size: 13px;
    line-height: 1.3em;
    color: #666666;
    font-family: "Arial";
}
.kozirj{
    white-space: nowrap;
    max-height: 13px;
    font-size: 14px;
    line-height: 1.2em;
    color: #24242b;
    font-weight: bold;
    font-family: "Arial";
}
.montreal h2,
.edmonton h2,
.calgary h2{
    margin: 0;
    margin-bottom: 19px;
    font-size: 16px;
    line-height: 1.5em;
    color: #1f1f56;
    font-weight: bold;
    font-family: "Arial";
}
.montreal p,
.calgary p,
.edmonton p{
    font-size: 13px;
    line-height: 1.4em;
    color: #9999a6;
    font-family: "Arial";
    width: 70vh;
}
.montreal,
.calgary,
.edmonton{
    border-collapse: separate;
    margin-bottom: 25px;
    padding-left: 31px;
}
.montreal img,
.calgary img,
.edmonton img{
    width: 60vw;
}
.vidstup{
    margin-bottom: 14px;
}
.opis-montrealj{
    min-height: 50%;
    padding-left: 20px;
}
.znizhka{
    background:url(https://raw.githubusercontent.com/kovalj1337/hataplus-email/master/img/fon.png) center/cover no-repeat;
    height: 195px;
    text-align: center;
}
.znizhka h2{
    margin: 0;
    margin: 12px;
    font-size: 24px;
    color: #ffffff;
    font-weight: bold;
    font-family: "Arial";
}
.znizhka p{
    font-size: 13px;
    line-height: 1.5em;
    color: #ffffff;
    font-family: "Arial";
}
.mb{
    padding-bottom: 16px;
}
.znizhka button{
    border: none;
    background-color: #1f1f56;
    border-radius: 20px;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    font-weight: bold;
    font-family: "Arial";
    padding: 8.5px 26.5px;
}
.footer{
    background-color: #08081a;
}
.spreji{
    text-align: center;
    padding-top: 31px;
    padding-bottom: 21px;
}
.spreji a{
    margin-left: 9px;
}
.footer p{
    font-size: 13px;
    line-height: 1.3em;
    color: #9999a6;
    font-family: "Arial";
    text-align: center;
    padding-bottom: 23px;
}
.footer-bottom{
    background-color: #000014;   
    text-align: center;
    border-collapse: separate;
    padding-top: 22px;
    padding-bottom: 21px;
}
.footer-bottom a{
    padding-right: 7px;
    font-size: 11px;
    line-height: 1.6em;
    color: #fd8300;
    font-family: "Arial";
    text-decoration: none;
}
.border-left{
    padding-left: 8px;
    border-left: 1px #fd8300 solid;
}